* {
	margin: 0;
	padding: 0;
	outline: none;
	font-family: serif Georgia;
}
a {
	text-decoration: none;
}
body {
	background: url("../images/bg.png");
}

/*Область общего контента */
#page_align {
	width: 940px;
	height: 1490px;
	margin: 0px auto;
}
/*================*/
#header {
	width: 940px;
	height: 80px;
}

/*Область с именем автора сверху страницы*/
#author {
	height: 80px;
	width: 450px;
	float: left;
	color: #444343;
	font-size: 21px;
}

/*Главная картинка*/
#photo {
	height: 407px;
}

/*Блок внутри фотографии(светлая рамка)*/
#border {
	height: 392px;
	width: 925px;
	margin: 7px 0px 0px 5px;
	position: absolute;
	border: solid 1px #fafdee;
}

/*Блок контента ниже фотографии*/
#content {
	margin-top: 60px;
	height: 440px;
}
#cont_head {
	height: 140px;
	width: 940px;
	text-align: center;
	font-size: 25px;
	color: #444343;
}
#b_things {
	font-size: 45px;
}

/*Колонки с контентом*/
#box1, #box2, #box3  {
	width: 290px;
	height: 220px;
	margin-right: 30px;
	float: left
}
#box3 {
	margin-right: 0px;
}
.b_head a {
	margin-left: 10px;
	color: #444343;
	font-size: 25px;
}
.b_head:hover {
	text-decoration: underline;
}
.b_text {
	margin-top: 20px;
	color: #595656;
	font-size: 18px;
}

/*Блок для портфолио*/
#portfolio {
	margin-top: 80px;
	width: 940px;
	height: 600px;
}
#small_pics {
	margin-right: 15px;
}
.small_picture {
	width: 220px;
	height: 185px;
	float: left;
	margin-bottom: 23px;
	box-shadow: 0px 1px 3px #3b3838;
	-webkit-box-shadow: 1px 4px 10px #3b3838;
	-o-box-shadow: 1px 4px 10px #3b3838;
	-moz-box-shadow: 1px 4px 10px #3b3838;
	-ms-box-shadow: 1px 4px 10px #3b3838;
	-khtml-box-shadow: 1px 4px 10px #3b3838;
}
#big_pic {
	box-shadow: 0px 1px 3px #3b3838;
	-webkit-box-shadow: 1px 4px 10px #3b3838;
	-o-box-shadow: 1px 4px 10px #3b3838;
	-moz-box-shadow: 1px 4px 10px #3b3838;
	-ms-box-shadow: 1px 4px 10px #3b3838;
	-khtml-box-shadow: 1px 4px 10px #3b3838;
}
#sm1, #sm2, #sm3 {
	margin-right: 15px;
}
#small_pics, #big_pic {
	float: left;
	width: 460px;
	height: 600px;
}

/*Последний блок с формой и инфой об авторе*/
#security {
	margin-top: 160px;
	width: 940px;
	height: 570px;
	border-bottom: solid 1px #c7c7c7;
}
#contact {
	margin-right: 20px;
	float: left;
	width: 460px;
	height: 520px;
}
#about_me {
	overflow: hidden;
	float: left;
	width: 455px;
	height: 520px;
}
#about_me img {
	margin-right: 20px;
	float: left;
	box-shadow: 0px 1px 3px #3b3838;
	-webkit-box-shadow: 1px 4px 10px #3b3838;
	-o-box-shadow: 1px 4px 10px #3b3838;
	-moz-box-shadow: 1px 4px 10px #3b3838;
	-ms-box-shadow: 1px 4px 10px #3b3838;
	-khtml-box-shadow: 1px 4px 10px #3b3838;
}
#about_text {
	line-height: 25px;
	position: relative;
	color: #444343;
}
#john {
	font-weight: bold;
	color: #636060;
}
#john, #numbers {
	font-size: 18px;
}
#numbers a {
	font-weight: bold;
	color: #636060;
}
#numbers a:hover {
	text-decoration: underline;
}
.c_line {
	color: #7f7f7f;
	height: 50px;
	width: 460px;
	margin-bottom: 20px;
}
.c_line, textarea {
	font-size: 18px;
	border: 1px solid #f0f0f0;
	box-shadow: 1px 4px 3px #DDD;
	-webkit-box-shadow: 1px 4px 10px #DDD;
	-o-box-shadow: 1px 4px 10px #DDD;
	-moz-box-shadow: 1px 4px 10px #DDD;
	-khtml-box-shadow: 1px 4px 10px #DDD;
	background: url("../images/form-bg.png");
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-o-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-khtml-border-radius: 3px;
}
textarea {
	font-size: 18px;
	color: #7f7f7f;
	resize: none;
}
#button {
	border: 1px solid #f0f0f0;
	box-shadow: 0px 1px 10px #DDD;
	-webkit-box-shadow: 1px 4px 10px #DDD;
	-o-box-shadow: 1px 4px 10px #DDD;
	-moz-box-shadow: 1px 4px 10px #DDD;
	-khtml-box-shadow: 1px 4px 10px #DDD;
	background: url("../images/form-bg.png");
	height: 50px;
	width: 125px;
	margin-top: 25px;
	color: #7f7f7f;
	font-size: 18px;
}
/*Стили для placeholder */
::-webkit-input-placeholder {color:#7f7f7f;
	font-size: 15px;
}
::-moz-placeholder          {color:#7f7f7f;
	font-size: 15px;
	}/* Firefox 19+ */
	:-moz-placeholder           {color:#7f7f7f;
		font-size: 15px;
		}/* Firefox 18- */
		:-ms-input-placeholder      {color:#7f7f7f;
			font-size: 15px;
		}
	
	/*При фокусе placeholder в форме исчезает*/
		:focus::-webkit-input-placeholder {color: transparent}
		:focus::-moz-placeholder          {color: transparent}
		:focus:-moz-placeholder           {color: transparent}
		:focus:-ms-input-placeholder      {color: transparent}

		#rights {
			margin-top: 15px;
			height: 40px;
			width: 940px;
			font-size: 15px;
			color: #5d5c5c;
		}

	/*Стили для страницы send.php*/
		#page_align_send { 
			width: 940px;
			margin: 0px auto;
		}
		#author_send { 			
			margin-left: 300px;
			height: 80px;
			width: 450px;
			float: left;
			color: #444343;
			font-size: 21px;
		}

/*Стили для текста об успешной отправке сообщения*/
		#default_text { 	
			width: 100%;
			height: 100px;
			background: url("../images/form-bg.png");
			margin-bottom: 20px;
			text-align: center;
			font-size: 18px;
			overflow: hidden;
			border: solid 1px #fafdee;
			padding-top: 50px;
		}
		#default_text a {
			color: #371111;
		}
		#default_text a:hover {
			text-decoration: underline;
		}